--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO maestro;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO maestro;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO maestro;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_auditlog; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_auditlog (
    id bigint NOT NULL,
    action character varying(20) NOT NULL,
    model character varying(50) NOT NULL,
    object_id character varying(50) NOT NULL,
    description text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    user_id bigint
);


ALTER TABLE public.core_auditlog OWNER TO maestro;

--
-- Name: core_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_brand; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_brand (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    code character varying(50) NOT NULL,
    country character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    business_id bigint NOT NULL
);


ALTER TABLE public.core_brand OWNER TO maestro;

--
-- Name: core_brand_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_brand ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_brand_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_business; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_business (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    code character varying(50) NOT NULL,
    tax_id character varying(50) NOT NULL,
    address text NOT NULL,
    phone character varying(50) NOT NULL,
    email character varying(254) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.core_business OWNER TO maestro;

--
-- Name: core_business_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_business ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_business_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_category; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    code character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    business_id bigint NOT NULL,
    parent_id bigint
);


ALTER TABLE public.core_category OWNER TO maestro;

--
-- Name: core_category_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_customer; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_customer (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    email character varying(254) NOT NULL,
    customer_type_id bigint NOT NULL,
    address text NOT NULL,
    business_id bigint NOT NULL,
    code character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    phone character varying(50) NOT NULL
);


ALTER TABLE public.core_customer OWNER TO maestro;

--
-- Name: core_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_customertype; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_customertype (
    id bigint NOT NULL,
    level smallint NOT NULL,
    discount_percentage numeric(5,2) NOT NULL,
    CONSTRAINT core_customertype_level_check CHECK ((level >= 0))
);


ALTER TABLE public.core_customertype OWNER TO maestro;

--
-- Name: core_customertype_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_customertype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_customertype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_exchangerate; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_exchangerate (
    id bigint NOT NULL,
    date date NOT NULL,
    rate numeric(10,4) NOT NULL
);


ALTER TABLE public.core_exchangerate OWNER TO maestro;

--
-- Name: core_exchangerate_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_exchangerate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_exchangerate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_inventorymovement; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_inventorymovement (
    id bigint NOT NULL,
    movement_type character varying(20) NOT NULL,
    reference_document character varying(100) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint,
    warehouse_id bigint NOT NULL,
    authorized boolean NOT NULL,
    authorized_at timestamp with time zone,
    authorized_by_id bigint
);


ALTER TABLE public.core_inventorymovement OWNER TO maestro;

--
-- Name: core_inventorymovement_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_inventorymovement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_inventorymovement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_inventorymovementdetail; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_inventorymovementdetail (
    id bigint NOT NULL,
    quantity double precision NOT NULL,
    price numeric(12,2) NOT NULL,
    total numeric(12,2) NOT NULL,
    lote character varying(100) NOT NULL,
    expiration_date timestamp with time zone,
    aux1 character varying(255) NOT NULL,
    movement_id bigint NOT NULL,
    product_variant_id bigint NOT NULL
);


ALTER TABLE public.core_inventorymovementdetail OWNER TO maestro;

--
-- Name: core_inventorymovementdetail_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_inventorymovementdetail ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_inventorymovementdetail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_menuoption; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_menuoption (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    label character varying(100) NOT NULL,
    business_id bigint NOT NULL
);


ALTER TABLE public.core_menuoption OWNER TO maestro;

--
-- Name: core_menuoption_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_menuoption ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_menuoption_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_menuoption_roles; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_menuoption_roles (
    id bigint NOT NULL,
    menuoption_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.core_menuoption_roles OWNER TO maestro;

--
-- Name: core_menuoption_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_menuoption_roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_menuoption_roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_product; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_product (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    sku character varying(100) NOT NULL,
    barcode character varying(100) NOT NULL,
    minimum_stock double precision NOT NULL,
    maximum_stock double precision NOT NULL,
    is_active boolean NOT NULL,
    "group" integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    brand_id bigint,
    business_id bigint NOT NULL,
    category_id bigint,
    base_unit_id bigint,
    image_url character varying(200)
);


ALTER TABLE public.core_product OWNER TO maestro;

--
-- Name: core_product_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_productvariant; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_productvariant (
    id bigint NOT NULL,
    sku character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    cost_price numeric(12,2) NOT NULL,
    sale_price numeric(12,2) NOT NULL,
    purchase_price numeric(10,2) NOT NULL,
    barcode character varying(50) NOT NULL,
    low_stock_threshold integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    unit_id bigint
);


ALTER TABLE public.core_productvariant OWNER TO maestro;

--
-- Name: core_productvariant_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_productvariant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_productvariant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_productwarehousestock; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_productwarehousestock (
    id bigint NOT NULL,
    quantity double precision NOT NULL,
    min_stock double precision NOT NULL,
    location character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_variant_id bigint NOT NULL,
    warehouse_id bigint NOT NULL
);


ALTER TABLE public.core_productwarehousestock OWNER TO maestro;

--
-- Name: core_productwarehousestock_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_productwarehousestock ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_productwarehousestock_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_purchaseorder; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_purchaseorder (
    id bigint NOT NULL,
    order_date timestamp with time zone NOT NULL,
    expected_delivery_date timestamp with time zone,
    status character varying(20) NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    business_id bigint NOT NULL,
    supplier_id bigint NOT NULL
);


ALTER TABLE public.core_purchaseorder OWNER TO maestro;

--
-- Name: core_purchaseorder_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_purchaseorder ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_purchaseorder_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_purchaseorderitem; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_purchaseorderitem (
    id bigint NOT NULL,
    quantity double precision NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(12,2) NOT NULL,
    product_variant_id bigint NOT NULL,
    purchase_order_id bigint NOT NULL
);


ALTER TABLE public.core_purchaseorderitem OWNER TO maestro;

--
-- Name: core_purchaseorderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_purchaseorderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_purchaseorderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_purchaseorderreceipt; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_purchaseorderreceipt (
    id bigint NOT NULL,
    receipt_date timestamp with time zone NOT NULL,
    notes text NOT NULL,
    purchase_order_id bigint NOT NULL,
    user_id bigint,
    warehouse_id bigint NOT NULL
);


ALTER TABLE public.core_purchaseorderreceipt OWNER TO maestro;

--
-- Name: core_purchaseorderreceipt_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_purchaseorderreceipt ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_purchaseorderreceipt_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_purchaseorderreceiptitem; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_purchaseorderreceiptitem (
    id bigint NOT NULL,
    quantity_received double precision NOT NULL,
    po_item_id bigint NOT NULL,
    receipt_id bigint NOT NULL
);


ALTER TABLE public.core_purchaseorderreceiptitem OWNER TO maestro;

--
-- Name: core_purchaseorderreceiptitem_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_purchaseorderreceiptitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_purchaseorderreceiptitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_quotation; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_quotation (
    id bigint NOT NULL,
    quote_date timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    business_id bigint NOT NULL,
    customer_id bigint NOT NULL,
    exchange numeric(10,3)
);


ALTER TABLE public.core_quotation OWNER TO maestro;

--
-- Name: core_quotation_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_quotation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_quotation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_quotationitem; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_quotationitem (
    id bigint NOT NULL,
    quantity double precision NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(12,2) NOT NULL,
    product_variant_id bigint NOT NULL,
    quotation_id bigint NOT NULL
);


ALTER TABLE public.core_quotationitem OWNER TO maestro;

--
-- Name: core_quotationitem_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_quotationitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_quotationitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_role; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_role (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    business_id bigint NOT NULL
);


ALTER TABLE public.core_role OWNER TO maestro;

--
-- Name: core_role_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_salesorder; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_salesorder (
    id bigint NOT NULL,
    order_date timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    business_id bigint NOT NULL,
    customer_id bigint NOT NULL,
    exchange numeric(10,3)
);


ALTER TABLE public.core_salesorder OWNER TO maestro;

--
-- Name: core_salesorder_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_salesorder ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_salesorder_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_salesorderitem; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_salesorderitem (
    id bigint NOT NULL,
    quantity double precision NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(12,2) NOT NULL,
    product_variant_id bigint NOT NULL,
    sales_order_id bigint NOT NULL,
    exchange numeric(10,3)
);


ALTER TABLE public.core_salesorderitem OWNER TO maestro;

--
-- Name: core_salesorderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_salesorderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_salesorderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_supplier; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_supplier (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    company_name character varying(200) NOT NULL,
    tax_id character varying(50) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(50) NOT NULL,
    address text NOT NULL,
    payment_terms character varying(50) NOT NULL,
    credit_limit double precision NOT NULL,
    discount_percentage double precision NOT NULL,
    contact_person character varying(200) NOT NULL,
    is_active boolean NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    business_id bigint NOT NULL
);


ALTER TABLE public.core_supplier OWNER TO maestro;

--
-- Name: core_supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_supplier ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_supplier_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_supplierproduct; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_supplierproduct (
    id bigint NOT NULL,
    supplier_sku character varying(100) NOT NULL,
    last_cost numeric(10,2) NOT NULL,
    lead_time_days integer NOT NULL,
    is_preferred boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_variant_id bigint NOT NULL,
    supplier_id bigint NOT NULL
);


ALTER TABLE public.core_supplierproduct OWNER TO maestro;

--
-- Name: core_supplierproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_supplierproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_supplierproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_unit; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_unit (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    symbol character varying(10) NOT NULL,
    unit_type character varying(20) NOT NULL,
    conversion_factor double precision NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.core_unit OWNER TO maestro;

--
-- Name: core_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_unit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    email character varying(255) NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    role_id bigint,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    business_id bigint
);


ALTER TABLE public.core_user OWNER TO maestro;

--
-- Name: core_user_groups; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.core_user_groups OWNER TO maestro;

--
-- Name: core_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user_user_permissions; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.core_user_user_permissions OWNER TO maestro;

--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_warehouse; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.core_warehouse (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    code character varying(50) NOT NULL,
    address text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    business_id bigint NOT NULL
);


ALTER TABLE public.core_warehouse OWNER TO maestro;

--
-- Name: core_warehouse_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.core_warehouse ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_warehouse_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO maestro;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO maestro;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO maestro;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: maestro
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: maestro
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO maestro;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: maestro
--



--
-- Data for Name: core_auditlog; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_auditlog (id, action, model, object_id, description, "timestamp", user_id) FROM stdin;
\.


--
-- Data for Name: core_brand; Type: TABLE DATA; Schema: public; Owner: maestro
--



--
-- Data for Name: core_business; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_business (id, name, description, code, tax_id, address, phone, email, is_active, created_at, updated_at) FROM stdin;
1	Sancho Distribuidora		sancho					t	2025-08-01 04:14:48.663686+00	2025-08-01 04:14:48.663702+00
2	Empresa Principal	Empresa principal del sistema	EMP001					t	2025-08-01 04:14:48.668242+00	2025-08-01 04:14:48.668253+00
\.


--
-- Data for Name: core_category; Type: TABLE DATA; Schema: public; Owner: maestro
--



--
-- Data for Name: core_customer; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_customer (id, name, email, customer_type_id, address, business_id, code, is_active, phone) FROM stdin;
\.


--
-- Data for Name: core_customertype; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_customertype (id, level, discount_percentage) FROM stdin;
\.


--
-- Data for Name: core_exchangerate; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_exchangerate (id, date, rate) FROM stdin;
\.


--
-- Data for Name: core_inventorymovement; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_inventorymovement (id, movement_type, reference_document, notes, created_at, user_id, warehouse_id, authorized, authorized_at, authorized_by_id) FROM stdin;
\.


--
-- Data for Name: core_inventorymovementdetail; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_inventorymovementdetail (id, quantity, price, total, lote, expiration_date, aux1, movement_id, product_variant_id) FROM stdin;
\.


--
-- Data for Name: core_menuoption; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_menuoption (id, name, label, business_id) FROM stdin;
\.


--
-- Data for Name: core_menuoption_roles; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_menuoption_roles (id, menuoption_id, role_id) FROM stdin;
\.


--
-- Data for Name: core_product; Type: TABLE DATA; Schema: public; Owner: maestro
--



--
-- Data for Name: core_productvariant; Type: TABLE DATA; Schema: public; Owner: maestro
--



--
-- Data for Name: core_productwarehousestock; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_productwarehousestock (id, quantity, min_stock, location, created_at, updated_at, product_variant_id, warehouse_id) FROM stdin;
\.


--
-- Data for Name: core_purchaseorder; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_purchaseorder (id, order_date, expected_delivery_date, status, total_amount, notes, created_at, updated_at, business_id, supplier_id) FROM stdin;
\.


--
-- Data for Name: core_purchaseorderitem; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_purchaseorderitem (id, quantity, unit_price, total_price, product_variant_id, purchase_order_id) FROM stdin;
\.


--
-- Data for Name: core_purchaseorderreceipt; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_purchaseorderreceipt (id, receipt_date, notes, purchase_order_id, user_id, warehouse_id) FROM stdin;
\.


--
-- Data for Name: core_purchaseorderreceiptitem; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_purchaseorderreceiptitem (id, quantity_received, po_item_id, receipt_id) FROM stdin;
\.


--
-- Data for Name: core_quotation; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_quotation (id, quote_date, status, total_amount, notes, created_at, business_id, customer_id, exchange) FROM stdin;
\.


--
-- Data for Name: core_quotationitem; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_quotationitem (id, quantity, unit_price, total_price, product_variant_id, quotation_id) FROM stdin;
\.


--
-- Data for Name: core_role; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_role (id, name, business_id) FROM stdin;
\.


--
-- Data for Name: core_salesorder; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_salesorder (id, order_date, status, total_amount, notes, created_at, business_id, customer_id, exchange) FROM stdin;
\.


--
-- Data for Name: core_salesorderitem; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_salesorderitem (id, quantity, unit_price, total_price, product_variant_id, sales_order_id, exchange) FROM stdin;
\.


--
-- Data for Name: core_supplier; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_supplier (id, name, company_name, tax_id, email, phone, address, payment_terms, credit_limit, discount_percentage, contact_person, is_active, notes, created_at, updated_at, business_id) FROM stdin;
1	Edgar Jimenez			ebyted@gmail.com		calle cerro de la Silla #600 int. A-3		0	0		t		2025-08-01 04:16:29.537642+00	2025-08-01 04:16:29.537652+00	1
\.


--
-- Data for Name: core_supplierproduct; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_supplierproduct (id, supplier_sku, last_cost, lead_time_days, is_preferred, created_at, updated_at, product_variant_id, supplier_id) FROM stdin;
\.


--
-- Data for Name: core_unit; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_unit (id, name, symbol, unit_type, conversion_factor, is_active, created_at) FROM stdin;
1	Unidad	UNI	piece	1	t	2025-08-01 04:21:36.515937+00
2	Pieza	PZA	piece	1	t	2025-08-01 04:21:36.520439+00
3	Mililitro	ML	volume	1	t	2025-08-01 04:21:36.523119+00
\.


--
-- Data for Name: core_user; Type: TABLE DATA; Schema: public; Owner: maestro
--



--
-- Data for Name: core_user_groups; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: core_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: core_warehouse; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.core_warehouse (id, name, description, code, address, is_active, created_at, updated_at, business_id) FROM stdin;
1	sancho		sancho		t	2025-08-01 04:16:29.523551+00	2025-08-01 04:16:29.523575+00	1
2	San Diego		San Diego	San Diego	t	2025-08-01 04:16:29.529051+00	2025-08-01 04:16:29.529062+00	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: maestro
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: maestro
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: maestro
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 128, true);


--
-- Name: core_auditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_auditlog_id_seq', 1, false);


--
-- Name: core_brand_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_brand_id_seq', 50, true);


--
-- Name: core_business_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_business_id_seq', 1, false);


--
-- Name: core_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_category_id_seq', 50, true);


--
-- Name: core_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_customer_id_seq', 1, false);


--
-- Name: core_customertype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_customertype_id_seq', 1, false);


--
-- Name: core_exchangerate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_exchangerate_id_seq', 1, false);


--
-- Name: core_inventorymovement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_inventorymovement_id_seq', 1, false);


--
-- Name: core_inventorymovementdetail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_inventorymovementdetail_id_seq', 1, false);


--
-- Name: core_menuoption_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_menuoption_id_seq', 1, false);


--
-- Name: core_menuoption_roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_menuoption_roles_id_seq', 1, false);


--
-- Name: core_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_product_id_seq', 100, true);


--
-- Name: core_productvariant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_productvariant_id_seq', 2695, true);


--
-- Name: core_productwarehousestock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_productwarehousestock_id_seq', 1, false);


--
-- Name: core_purchaseorder_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_purchaseorder_id_seq', 1, false);


--
-- Name: core_purchaseorderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_purchaseorderitem_id_seq', 1, false);


--
-- Name: core_purchaseorderreceipt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_purchaseorderreceipt_id_seq', 1, false);


--
-- Name: core_purchaseorderreceiptitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_purchaseorderreceiptitem_id_seq', 1, false);


--
-- Name: core_quotation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_quotation_id_seq', 1, false);


--
-- Name: core_quotationitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_quotationitem_id_seq', 1, false);


--
-- Name: core_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_role_id_seq', 1, false);


--
-- Name: core_salesorder_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_salesorder_id_seq', 1, false);


--
-- Name: core_salesorderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_salesorderitem_id_seq', 1, false);


--
-- Name: core_supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_supplier_id_seq', 1, true);


--
-- Name: core_supplierproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_supplierproduct_id_seq', 1, false);


--
-- Name: core_unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_unit_id_seq', 3, true);


--
-- Name: core_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_user_groups_id_seq', 1, false);


--
-- Name: core_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_user_id_seq', 8, true);


--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_user_user_permissions_id_seq', 1, false);


--
-- Name: core_warehouse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.core_warehouse_id_seq', 2, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 32, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maestro
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 26, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: core_auditlog core_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_auditlog
    ADD CONSTRAINT core_auditlog_pkey PRIMARY KEY (id);


--
-- Name: core_brand core_brand_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_brand
    ADD CONSTRAINT core_brand_pkey PRIMARY KEY (id);


--
-- Name: core_business core_business_code_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_business
    ADD CONSTRAINT core_business_code_key UNIQUE (code);


--
-- Name: core_business core_business_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_business
    ADD CONSTRAINT core_business_pkey PRIMARY KEY (id);


--
-- Name: core_category core_category_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_category
    ADD CONSTRAINT core_category_pkey PRIMARY KEY (id);


--
-- Name: core_customer core_customer_code_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_customer
    ADD CONSTRAINT core_customer_code_key UNIQUE (code);


--
-- Name: core_customer core_customer_email_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_customer
    ADD CONSTRAINT core_customer_email_key UNIQUE (email);


--
-- Name: core_customer core_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_customer
    ADD CONSTRAINT core_customer_pkey PRIMARY KEY (id);


--
-- Name: core_customertype core_customertype_level_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_customertype
    ADD CONSTRAINT core_customertype_level_key UNIQUE (level);


--
-- Name: core_customertype core_customertype_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_customertype
    ADD CONSTRAINT core_customertype_pkey PRIMARY KEY (id);


--
-- Name: core_exchangerate core_exchangerate_date_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_exchangerate
    ADD CONSTRAINT core_exchangerate_date_key UNIQUE (date);


--
-- Name: core_exchangerate core_exchangerate_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_exchangerate
    ADD CONSTRAINT core_exchangerate_pkey PRIMARY KEY (id);


--
-- Name: core_inventorymovement core_inventorymovement_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_inventorymovement
    ADD CONSTRAINT core_inventorymovement_pkey PRIMARY KEY (id);


--
-- Name: core_inventorymovementdetail core_inventorymovementdetail_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_inventorymovementdetail
    ADD CONSTRAINT core_inventorymovementdetail_pkey PRIMARY KEY (id);


--
-- Name: core_menuoption core_menuoption_name_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_menuoption
    ADD CONSTRAINT core_menuoption_name_key UNIQUE (name);


--
-- Name: core_menuoption core_menuoption_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_menuoption
    ADD CONSTRAINT core_menuoption_pkey PRIMARY KEY (id);


--
-- Name: core_menuoption_roles core_menuoption_roles_menuoption_id_role_id_7b2ccd1b_uniq; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_menuoption_roles
    ADD CONSTRAINT core_menuoption_roles_menuoption_id_role_id_7b2ccd1b_uniq UNIQUE (menuoption_id, role_id);


--
-- Name: core_menuoption_roles core_menuoption_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_menuoption_roles
    ADD CONSTRAINT core_menuoption_roles_pkey PRIMARY KEY (id);


--
-- Name: core_product core_product_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_product
    ADD CONSTRAINT core_product_pkey PRIMARY KEY (id);


--
-- Name: core_product core_product_sku_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_product
    ADD CONSTRAINT core_product_sku_key UNIQUE (sku);


--
-- Name: core_productvariant core_productvariant_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_productvariant
    ADD CONSTRAINT core_productvariant_pkey PRIMARY KEY (id);


--
-- Name: core_productvariant core_productvariant_sku_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_productvariant
    ADD CONSTRAINT core_productvariant_sku_key UNIQUE (sku);


--
-- Name: core_productwarehousestock core_productwarehousestock_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_productwarehousestock
    ADD CONSTRAINT core_productwarehousestock_pkey PRIMARY KEY (id);


--
-- Name: core_purchaseorder core_purchaseorder_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorder
    ADD CONSTRAINT core_purchaseorder_pkey PRIMARY KEY (id);


--
-- Name: core_purchaseorderitem core_purchaseorderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderitem
    ADD CONSTRAINT core_purchaseorderitem_pkey PRIMARY KEY (id);


--
-- Name: core_purchaseorderreceipt core_purchaseorderreceipt_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderreceipt
    ADD CONSTRAINT core_purchaseorderreceipt_pkey PRIMARY KEY (id);


--
-- Name: core_purchaseorderreceiptitem core_purchaseorderreceiptitem_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderreceiptitem
    ADD CONSTRAINT core_purchaseorderreceiptitem_pkey PRIMARY KEY (id);


--
-- Name: core_quotation core_quotation_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_quotation
    ADD CONSTRAINT core_quotation_pkey PRIMARY KEY (id);


--
-- Name: core_quotationitem core_quotationitem_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_quotationitem
    ADD CONSTRAINT core_quotationitem_pkey PRIMARY KEY (id);


--
-- Name: core_role core_role_name_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_role
    ADD CONSTRAINT core_role_name_key UNIQUE (name);


--
-- Name: core_role core_role_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_role
    ADD CONSTRAINT core_role_pkey PRIMARY KEY (id);


--
-- Name: core_salesorder core_salesorder_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_salesorder
    ADD CONSTRAINT core_salesorder_pkey PRIMARY KEY (id);


--
-- Name: core_salesorderitem core_salesorderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_salesorderitem
    ADD CONSTRAINT core_salesorderitem_pkey PRIMARY KEY (id);


--
-- Name: core_supplier core_supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_supplier
    ADD CONSTRAINT core_supplier_pkey PRIMARY KEY (id);


--
-- Name: core_supplierproduct core_supplierproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_supplierproduct
    ADD CONSTRAINT core_supplierproduct_pkey PRIMARY KEY (id);


--
-- Name: core_unit core_unit_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_unit
    ADD CONSTRAINT core_unit_pkey PRIMARY KEY (id);


--
-- Name: core_user core_user_email_key; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_email_key UNIQUE (email);


--
-- Name: core_user_groups core_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_pkey PRIMARY KEY (id);


--
-- Name: core_user_groups core_user_groups_user_id_group_id_c82fcad1_uniq; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_group_id_c82fcad1_uniq UNIQUE (user_id, group_id);


--
-- Name: core_user core_user_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_permission_id_73ea0daa_uniq; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_permission_id_73ea0daa_uniq UNIQUE (user_id, permission_id);


--
-- Name: core_warehouse core_warehouse_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_warehouse
    ADD CONSTRAINT core_warehouse_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: core_auditlog_user_id_3797aaab; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_auditlog_user_id_3797aaab ON public.core_auditlog USING btree (user_id);


--
-- Name: core_brand_business_id_35fec4c7; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_brand_business_id_35fec4c7 ON public.core_brand USING btree (business_id);


--
-- Name: core_business_code_4e8bb2f2_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_business_code_4e8bb2f2_like ON public.core_business USING btree (code varchar_pattern_ops);


--
-- Name: core_category_business_id_a083588a; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_category_business_id_a083588a ON public.core_category USING btree (business_id);


--
-- Name: core_category_parent_id_f82a0951; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_category_parent_id_f82a0951 ON public.core_category USING btree (parent_id);


--
-- Name: core_customer_business_id_a60519a6; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_customer_business_id_a60519a6 ON public.core_customer USING btree (business_id);


--
-- Name: core_customer_code_2447c4ce_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_customer_code_2447c4ce_like ON public.core_customer USING btree (code varchar_pattern_ops);


--
-- Name: core_customer_customer_type_id_ebd7b248; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_customer_customer_type_id_ebd7b248 ON public.core_customer USING btree (customer_type_id);


--
-- Name: core_customer_email_bfa7e28a_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_customer_email_bfa7e28a_like ON public.core_customer USING btree (email varchar_pattern_ops);


--
-- Name: core_inventorymovement_authorized_by_id_276342c9; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_inventorymovement_authorized_by_id_276342c9 ON public.core_inventorymovement USING btree (authorized_by_id);


--
-- Name: core_inventorymovement_user_id_8398c653; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_inventorymovement_user_id_8398c653 ON public.core_inventorymovement USING btree (user_id);


--
-- Name: core_inventorymovement_warehouse_id_6d474de2; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_inventorymovement_warehouse_id_6d474de2 ON public.core_inventorymovement USING btree (warehouse_id);


--
-- Name: core_inventorymovementdetail_movement_id_54e6a33c; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_inventorymovementdetail_movement_id_54e6a33c ON public.core_inventorymovementdetail USING btree (movement_id);


--
-- Name: core_inventorymovementdetail_product_variant_id_1f57c502; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_inventorymovementdetail_product_variant_id_1f57c502 ON public.core_inventorymovementdetail USING btree (product_variant_id);


--
-- Name: core_menuoption_business_id_ad36f54d; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_menuoption_business_id_ad36f54d ON public.core_menuoption USING btree (business_id);


--
-- Name: core_menuoption_name_ec5e2ef2_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_menuoption_name_ec5e2ef2_like ON public.core_menuoption USING btree (name varchar_pattern_ops);


--
-- Name: core_menuoption_roles_menuoption_id_e37e0123; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_menuoption_roles_menuoption_id_e37e0123 ON public.core_menuoption_roles USING btree (menuoption_id);


--
-- Name: core_menuoption_roles_role_id_6ed9b9f6; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_menuoption_roles_role_id_6ed9b9f6 ON public.core_menuoption_roles USING btree (role_id);


--
-- Name: core_product_base_unit_id_d15f64fe; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_product_base_unit_id_d15f64fe ON public.core_product USING btree (base_unit_id);


--
-- Name: core_product_brand_id_a97b95f2; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_product_brand_id_a97b95f2 ON public.core_product USING btree (brand_id);


--
-- Name: core_product_business_id_5121d184; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_product_business_id_5121d184 ON public.core_product USING btree (business_id);


--
-- Name: core_product_category_id_b9d8ff9f; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_product_category_id_b9d8ff9f ON public.core_product USING btree (category_id);


--
-- Name: core_product_sku_6168965a_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_product_sku_6168965a_like ON public.core_product USING btree (sku varchar_pattern_ops);


--
-- Name: core_productvariant_product_id_79c7de1b; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_productvariant_product_id_79c7de1b ON public.core_productvariant USING btree (product_id);


--
-- Name: core_productvariant_sku_3295d057_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_productvariant_sku_3295d057_like ON public.core_productvariant USING btree (sku varchar_pattern_ops);


--
-- Name: core_productvariant_unit_id_66233788; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_productvariant_unit_id_66233788 ON public.core_productvariant USING btree (unit_id);


--
-- Name: core_productwarehousestock_product_variant_id_aa036d42; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_productwarehousestock_product_variant_id_aa036d42 ON public.core_productwarehousestock USING btree (product_variant_id);


--
-- Name: core_productwarehousestock_warehouse_id_9760b79a; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_productwarehousestock_warehouse_id_9760b79a ON public.core_productwarehousestock USING btree (warehouse_id);


--
-- Name: core_purchaseorder_business_id_46ff9127; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_purchaseorder_business_id_46ff9127 ON public.core_purchaseorder USING btree (business_id);


--
-- Name: core_purchaseorder_supplier_id_0242d2c5; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_purchaseorder_supplier_id_0242d2c5 ON public.core_purchaseorder USING btree (supplier_id);


--
-- Name: core_purchaseorderitem_product_variant_id_3ba54495; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_purchaseorderitem_product_variant_id_3ba54495 ON public.core_purchaseorderitem USING btree (product_variant_id);


--
-- Name: core_purchaseorderitem_purchase_order_id_ec9433f4; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_purchaseorderitem_purchase_order_id_ec9433f4 ON public.core_purchaseorderitem USING btree (purchase_order_id);


--
-- Name: core_purchaseorderreceipt_purchase_order_id_5e2ce684; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_purchaseorderreceipt_purchase_order_id_5e2ce684 ON public.core_purchaseorderreceipt USING btree (purchase_order_id);


--
-- Name: core_purchaseorderreceipt_user_id_b853d62d; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_purchaseorderreceipt_user_id_b853d62d ON public.core_purchaseorderreceipt USING btree (user_id);


--
-- Name: core_purchaseorderreceipt_warehouse_id_749d3731; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_purchaseorderreceipt_warehouse_id_749d3731 ON public.core_purchaseorderreceipt USING btree (warehouse_id);


--
-- Name: core_purchaseorderreceiptitem_po_item_id_503e57e5; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_purchaseorderreceiptitem_po_item_id_503e57e5 ON public.core_purchaseorderreceiptitem USING btree (po_item_id);


--
-- Name: core_purchaseorderreceiptitem_receipt_id_891cf13e; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_purchaseorderreceiptitem_receipt_id_891cf13e ON public.core_purchaseorderreceiptitem USING btree (receipt_id);


--
-- Name: core_quotation_business_id_174e2206; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_quotation_business_id_174e2206 ON public.core_quotation USING btree (business_id);


--
-- Name: core_quotation_customer_id_bfd4f481; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_quotation_customer_id_bfd4f481 ON public.core_quotation USING btree (customer_id);


--
-- Name: core_quotationitem_product_variant_id_65e35a60; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_quotationitem_product_variant_id_65e35a60 ON public.core_quotationitem USING btree (product_variant_id);


--
-- Name: core_quotationitem_quotation_id_2c6cbe1d; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_quotationitem_quotation_id_2c6cbe1d ON public.core_quotationitem USING btree (quotation_id);


--
-- Name: core_role_business_id_ecd65d65; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_role_business_id_ecd65d65 ON public.core_role USING btree (business_id);


--
-- Name: core_role_name_ca4cd9c7_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_role_name_ca4cd9c7_like ON public.core_role USING btree (name varchar_pattern_ops);


--
-- Name: core_salesorder_business_id_9e0ba103; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_salesorder_business_id_9e0ba103 ON public.core_salesorder USING btree (business_id);


--
-- Name: core_salesorder_customer_id_63a39276; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_salesorder_customer_id_63a39276 ON public.core_salesorder USING btree (customer_id);


--
-- Name: core_salesorderitem_product_variant_id_a1a06da6; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_salesorderitem_product_variant_id_a1a06da6 ON public.core_salesorderitem USING btree (product_variant_id);


--
-- Name: core_salesorderitem_sales_order_id_2a32e0fa; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_salesorderitem_sales_order_id_2a32e0fa ON public.core_salesorderitem USING btree (sales_order_id);


--
-- Name: core_supplier_business_id_7bf17359; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_supplier_business_id_7bf17359 ON public.core_supplier USING btree (business_id);


--
-- Name: core_supplierproduct_product_variant_id_7ca6db38; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_supplierproduct_product_variant_id_7ca6db38 ON public.core_supplierproduct USING btree (product_variant_id);


--
-- Name: core_supplierproduct_supplier_id_c07917ea; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_supplierproduct_supplier_id_c07917ea ON public.core_supplierproduct USING btree (supplier_id);


--
-- Name: core_user_business_id_1113e4fb; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_user_business_id_1113e4fb ON public.core_user USING btree (business_id);


--
-- Name: core_user_email_92a71487_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_user_email_92a71487_like ON public.core_user USING btree (email varchar_pattern_ops);


--
-- Name: core_user_groups_group_id_fe8c697f; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_user_groups_group_id_fe8c697f ON public.core_user_groups USING btree (group_id);


--
-- Name: core_user_groups_user_id_70b4d9b8; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_user_groups_user_id_70b4d9b8 ON public.core_user_groups USING btree (user_id);


--
-- Name: core_user_role_id_8de62872; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_user_role_id_8de62872 ON public.core_user USING btree (role_id);


--
-- Name: core_user_user_permissions_permission_id_35ccf601; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_user_user_permissions_permission_id_35ccf601 ON public.core_user_user_permissions USING btree (permission_id);


--
-- Name: core_user_user_permissions_user_id_085123d3; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_user_user_permissions_user_id_085123d3 ON public.core_user_user_permissions USING btree (user_id);


--
-- Name: core_warehouse_business_id_c64190b4; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX core_warehouse_business_id_c64190b4 ON public.core_warehouse USING btree (business_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: maestro
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_auditlog core_auditlog_user_id_3797aaab_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_auditlog
    ADD CONSTRAINT core_auditlog_user_id_3797aaab_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_brand core_brand_business_id_35fec4c7_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_brand
    ADD CONSTRAINT core_brand_business_id_35fec4c7_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_category core_category_business_id_a083588a_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_category
    ADD CONSTRAINT core_category_business_id_a083588a_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_category core_category_parent_id_f82a0951_fk_core_category_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_category
    ADD CONSTRAINT core_category_parent_id_f82a0951_fk_core_category_id FOREIGN KEY (parent_id) REFERENCES public.core_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_customer core_customer_business_id_a60519a6_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_customer
    ADD CONSTRAINT core_customer_business_id_a60519a6_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_customer core_customer_customer_type_id_ebd7b248_fk_core_customertype_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_customer
    ADD CONSTRAINT core_customer_customer_type_id_ebd7b248_fk_core_customertype_id FOREIGN KEY (customer_type_id) REFERENCES public.core_customertype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_inventorymovement core_inventorymoveme_authorized_by_id_276342c9_fk_core_user; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_inventorymovement
    ADD CONSTRAINT core_inventorymoveme_authorized_by_id_276342c9_fk_core_user FOREIGN KEY (authorized_by_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_inventorymovementdetail core_inventorymoveme_movement_id_54e6a33c_fk_core_inve; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_inventorymovementdetail
    ADD CONSTRAINT core_inventorymoveme_movement_id_54e6a33c_fk_core_inve FOREIGN KEY (movement_id) REFERENCES public.core_inventorymovement(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_inventorymovementdetail core_inventorymoveme_product_variant_id_1f57c502_fk_core_prod; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_inventorymovementdetail
    ADD CONSTRAINT core_inventorymoveme_product_variant_id_1f57c502_fk_core_prod FOREIGN KEY (product_variant_id) REFERENCES public.core_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_inventorymovement core_inventorymoveme_warehouse_id_6d474de2_fk_core_ware; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_inventorymovement
    ADD CONSTRAINT core_inventorymoveme_warehouse_id_6d474de2_fk_core_ware FOREIGN KEY (warehouse_id) REFERENCES public.core_warehouse(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_inventorymovement core_inventorymovement_user_id_8398c653_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_inventorymovement
    ADD CONSTRAINT core_inventorymovement_user_id_8398c653_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_menuoption core_menuoption_business_id_ad36f54d_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_menuoption
    ADD CONSTRAINT core_menuoption_business_id_ad36f54d_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_menuoption_roles core_menuoption_role_menuoption_id_e37e0123_fk_core_menu; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_menuoption_roles
    ADD CONSTRAINT core_menuoption_role_menuoption_id_e37e0123_fk_core_menu FOREIGN KEY (menuoption_id) REFERENCES public.core_menuoption(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_menuoption_roles core_menuoption_roles_role_id_6ed9b9f6_fk_core_role_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_menuoption_roles
    ADD CONSTRAINT core_menuoption_roles_role_id_6ed9b9f6_fk_core_role_id FOREIGN KEY (role_id) REFERENCES public.core_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_product core_product_base_unit_id_d15f64fe_fk_core_unit_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_product
    ADD CONSTRAINT core_product_base_unit_id_d15f64fe_fk_core_unit_id FOREIGN KEY (base_unit_id) REFERENCES public.core_unit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_product core_product_brand_id_a97b95f2_fk_core_brand_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_product
    ADD CONSTRAINT core_product_brand_id_a97b95f2_fk_core_brand_id FOREIGN KEY (brand_id) REFERENCES public.core_brand(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_product core_product_business_id_5121d184_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_product
    ADD CONSTRAINT core_product_business_id_5121d184_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_product core_product_category_id_b9d8ff9f_fk_core_category_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_product
    ADD CONSTRAINT core_product_category_id_b9d8ff9f_fk_core_category_id FOREIGN KEY (category_id) REFERENCES public.core_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_productvariant core_productvariant_product_id_79c7de1b_fk_core_product_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_productvariant
    ADD CONSTRAINT core_productvariant_product_id_79c7de1b_fk_core_product_id FOREIGN KEY (product_id) REFERENCES public.core_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_productvariant core_productvariant_unit_id_66233788_fk_core_unit_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_productvariant
    ADD CONSTRAINT core_productvariant_unit_id_66233788_fk_core_unit_id FOREIGN KEY (unit_id) REFERENCES public.core_unit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_productwarehousestock core_productwarehous_product_variant_id_aa036d42_fk_core_prod; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_productwarehousestock
    ADD CONSTRAINT core_productwarehous_product_variant_id_aa036d42_fk_core_prod FOREIGN KEY (product_variant_id) REFERENCES public.core_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_productwarehousestock core_productwarehous_warehouse_id_9760b79a_fk_core_ware; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_productwarehousestock
    ADD CONSTRAINT core_productwarehous_warehouse_id_9760b79a_fk_core_ware FOREIGN KEY (warehouse_id) REFERENCES public.core_warehouse(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_purchaseorder core_purchaseorder_business_id_46ff9127_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorder
    ADD CONSTRAINT core_purchaseorder_business_id_46ff9127_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_purchaseorder core_purchaseorder_supplier_id_0242d2c5_fk_core_supplier_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorder
    ADD CONSTRAINT core_purchaseorder_supplier_id_0242d2c5_fk_core_supplier_id FOREIGN KEY (supplier_id) REFERENCES public.core_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_purchaseorderitem core_purchaseorderit_product_variant_id_3ba54495_fk_core_prod; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderitem
    ADD CONSTRAINT core_purchaseorderit_product_variant_id_3ba54495_fk_core_prod FOREIGN KEY (product_variant_id) REFERENCES public.core_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_purchaseorderitem core_purchaseorderit_purchase_order_id_ec9433f4_fk_core_purc; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderitem
    ADD CONSTRAINT core_purchaseorderit_purchase_order_id_ec9433f4_fk_core_purc FOREIGN KEY (purchase_order_id) REFERENCES public.core_purchaseorder(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_purchaseorderreceiptitem core_purchaseorderre_po_item_id_503e57e5_fk_core_purc; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderreceiptitem
    ADD CONSTRAINT core_purchaseorderre_po_item_id_503e57e5_fk_core_purc FOREIGN KEY (po_item_id) REFERENCES public.core_purchaseorderitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_purchaseorderreceipt core_purchaseorderre_purchase_order_id_5e2ce684_fk_core_purc; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderreceipt
    ADD CONSTRAINT core_purchaseorderre_purchase_order_id_5e2ce684_fk_core_purc FOREIGN KEY (purchase_order_id) REFERENCES public.core_purchaseorder(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_purchaseorderreceiptitem core_purchaseorderre_receipt_id_891cf13e_fk_core_purc; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderreceiptitem
    ADD CONSTRAINT core_purchaseorderre_receipt_id_891cf13e_fk_core_purc FOREIGN KEY (receipt_id) REFERENCES public.core_purchaseorderreceipt(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_purchaseorderreceipt core_purchaseorderre_warehouse_id_749d3731_fk_core_ware; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderreceipt
    ADD CONSTRAINT core_purchaseorderre_warehouse_id_749d3731_fk_core_ware FOREIGN KEY (warehouse_id) REFERENCES public.core_warehouse(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_purchaseorderreceipt core_purchaseorderreceipt_user_id_b853d62d_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_purchaseorderreceipt
    ADD CONSTRAINT core_purchaseorderreceipt_user_id_b853d62d_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_quotation core_quotation_business_id_174e2206_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_quotation
    ADD CONSTRAINT core_quotation_business_id_174e2206_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_quotation core_quotation_customer_id_bfd4f481_fk_core_customer_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_quotation
    ADD CONSTRAINT core_quotation_customer_id_bfd4f481_fk_core_customer_id FOREIGN KEY (customer_id) REFERENCES public.core_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_quotationitem core_quotationitem_product_variant_id_65e35a60_fk_core_prod; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_quotationitem
    ADD CONSTRAINT core_quotationitem_product_variant_id_65e35a60_fk_core_prod FOREIGN KEY (product_variant_id) REFERENCES public.core_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_quotationitem core_quotationitem_quotation_id_2c6cbe1d_fk_core_quotation_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_quotationitem
    ADD CONSTRAINT core_quotationitem_quotation_id_2c6cbe1d_fk_core_quotation_id FOREIGN KEY (quotation_id) REFERENCES public.core_quotation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_role core_role_business_id_ecd65d65_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_role
    ADD CONSTRAINT core_role_business_id_ecd65d65_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_salesorder core_salesorder_business_id_9e0ba103_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_salesorder
    ADD CONSTRAINT core_salesorder_business_id_9e0ba103_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_salesorder core_salesorder_customer_id_63a39276_fk_core_customer_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_salesorder
    ADD CONSTRAINT core_salesorder_customer_id_63a39276_fk_core_customer_id FOREIGN KEY (customer_id) REFERENCES public.core_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_salesorderitem core_salesorderitem_product_variant_id_a1a06da6_fk_core_prod; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_salesorderitem
    ADD CONSTRAINT core_salesorderitem_product_variant_id_a1a06da6_fk_core_prod FOREIGN KEY (product_variant_id) REFERENCES public.core_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_salesorderitem core_salesorderitem_sales_order_id_2a32e0fa_fk_core_sale; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_salesorderitem
    ADD CONSTRAINT core_salesorderitem_sales_order_id_2a32e0fa_fk_core_sale FOREIGN KEY (sales_order_id) REFERENCES public.core_salesorder(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_supplier core_supplier_business_id_7bf17359_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_supplier
    ADD CONSTRAINT core_supplier_business_id_7bf17359_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_supplierproduct core_supplierproduct_product_variant_id_7ca6db38_fk_core_prod; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_supplierproduct
    ADD CONSTRAINT core_supplierproduct_product_variant_id_7ca6db38_fk_core_prod FOREIGN KEY (product_variant_id) REFERENCES public.core_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_supplierproduct core_supplierproduct_supplier_id_c07917ea_fk_core_supplier_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_supplierproduct
    ADD CONSTRAINT core_supplierproduct_supplier_id_c07917ea_fk_core_supplier_id FOREIGN KEY (supplier_id) REFERENCES public.core_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user core_user_business_id_1113e4fb_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_business_id_1113e4fb_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_group_id_fe8c697f_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_group_id_fe8c697f_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_user_id_70b4d9b8_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_70b4d9b8_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user core_user_role_id_8de62872_fk_core_role_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_role_id_8de62872_fk_core_role_id FOREIGN KEY (role_id) REFERENCES public.core_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permi_permission_id_35ccf601_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permi_permission_id_35ccf601_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_085123d3_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_085123d3_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_warehouse core_warehouse_business_id_c64190b4_fk_core_business_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.core_warehouse
    ADD CONSTRAINT core_warehouse_business_id_c64190b4_fk_core_business_id FOREIGN KEY (business_id) REFERENCES public.core_business(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: maestro
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

