--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

-- Started on 2025-08-02 14:26:55 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- TOC entry 5 (class 2615 OID 41158)
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- TOC entry 3600 (class 0 OID 0)
-- Dependencies: 5
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- TOC entry 922 (class 1247 OID 41409)
-- Name: movementtype; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.movementtype AS ENUM (
    'ENTRADA',
    'SALIDA',
    'AJUSTE_POSITIVO',
    'AJUSTE_NEGATIVO',
    'TRASPASO_ENTRADA',
    'TRASPASO_SALIDA',
    'DEVOLUCION'
);


--
-- TOC entry 898 (class 1247 OID 41253)
-- Name: paymentterms; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.paymentterms AS ENUM (
    'CASH',
    'NET_15',
    'NET_30',
    'NET_60',
    'NET_90'
);


--
-- TOC entry 910 (class 1247 OID 41328)
-- Name: purchaseorderstatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.purchaseorderstatus AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'APPROVED',
    'PARTIALLY_RECEIVED',
    'COMPLETED',
    'CANCELLED'
);


--
-- TOC entry 874 (class 1247 OID 41545)
-- Name: userrole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.userrole AS ENUM (
    'ADMIN',
    'MANAGER',
    'EMPLOYEE',
    'VIEWER',
    'ALMACENISTA',
    'CAPTURISTA'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 214 (class 1259 OID 41160)
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- TOC entry 222 (class 1259 OID 41199)
-- Name: brands; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.brands (
    id integer NOT NULL,
    business_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    code character varying(50),
    country character varying(100),
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 221 (class 1259 OID 41198)
-- Name: brands_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.brands_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3601 (class 0 OID 0)
-- Dependencies: 221
-- Name: brands_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.brands_id_seq OWNED BY public.brands.id;


--
-- TOC entry 223 (class 1259 OID 41214)
-- Name: business_users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.business_users (
    user_id integer NOT NULL,
    business_id integer NOT NULL,
    role public.userrole
);


--
-- TOC entry 216 (class 1259 OID 41166)
-- Name: businesses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.businesses (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    code character varying(50),
    tax_id character varying(50),
    rfc character varying(50),
    address text,
    phone character varying(20),
    email character varying(255),
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 215 (class 1259 OID 41165)
-- Name: businesses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.businesses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3602 (class 0 OID 0)
-- Dependencies: 215
-- Name: businesses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.businesses_id_seq OWNED BY public.businesses.id;


--
-- TOC entry 225 (class 1259 OID 41232)
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    business_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    code character varying(50),
    parent_id integer,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 224 (class 1259 OID 41231)
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3603 (class 0 OID 0)
-- Dependencies: 224
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- TOC entry 239 (class 1259 OID 41424)
-- Name: inventory_movements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_movements (
    id integer NOT NULL,
    product_variant_id integer NOT NULL,
    user_id integer NOT NULL,
    warehouse_id integer NOT NULL,
    movement_type public.movementtype NOT NULL,
    quantity double precision NOT NULL,
    price numeric(12,2),
    total numeric(12,2),
    reference_document character varying(100),
    notes text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- TOC entry 238 (class 1259 OID 41423)
-- Name: inventory_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.inventory_movements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3604 (class 0 OID 0)
-- Dependencies: 238
-- Name: inventory_movements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.inventory_movements_id_seq OWNED BY public.inventory_movements.id;


--
-- TOC entry 235 (class 1259 OID 41363)
-- Name: product_variants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_variants (
    id integer NOT NULL,
    product_id integer NOT NULL,
    sku character varying(100) NOT NULL,
    barcode character varying(50),
    unit_id integer,
    purchase_price numeric(10,2),
    sale_price numeric(12,2),
    created_at timestamp with time zone DEFAULT now(),
    name character varying(255) NOT NULL,
    cost_price numeric(12,2),
    low_stock_threshold integer NOT NULL,
    is_active boolean
);


--
-- TOC entry 234 (class 1259 OID 41362)
-- Name: product_variants_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.product_variants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3605 (class 0 OID 0)
-- Dependencies: 234
-- Name: product_variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.product_variants_id_seq OWNED BY public.product_variants.id;


--
-- TOC entry 247 (class 1259 OID 41506)
-- Name: product_warehouse_stock; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_warehouse_stock (
    id integer NOT NULL,
    product_variant_id integer NOT NULL,
    warehouse_id integer NOT NULL,
    quantity integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 246 (class 1259 OID 41505)
-- Name: product_warehouse_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.product_warehouse_stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3606 (class 0 OID 0)
-- Dependencies: 246
-- Name: product_warehouse_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.product_warehouse_stock_id_seq OWNED BY public.product_warehouse_stock.id;


--
-- TOC entry 248 (class 1259 OID 41607)
-- Name: product_warehouse_stocks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_warehouse_stocks (
    product_variant_id integer NOT NULL,
    warehouse_id integer NOT NULL,
    quantity double precision,
    min_stock double precision NOT NULL,
    location character varying(100),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 231 (class 1259 OID 41296)
-- Name: products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.products (
    id integer NOT NULL,
    business_id integer NOT NULL,
    category_id integer,
    brand_id integer,
    name character varying(200) NOT NULL,
    description text,
    sku character varying(100),
    barcode character varying(100),
    base_unit_id integer,
    minimum_stock double precision,
    maximum_stock double precision,
    is_active boolean,
    "group" integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 230 (class 1259 OID 41295)
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3607 (class 0 OID 0)
-- Dependencies: 230
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- TOC entry 241 (class 1259 OID 41450)
-- Name: purchase_order_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.purchase_order_items (
    id integer NOT NULL,
    purchase_order_id integer NOT NULL,
    product_variant_id integer NOT NULL,
    quantity double precision NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(12,2) NOT NULL
);


--
-- TOC entry 240 (class 1259 OID 41449)
-- Name: purchase_order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.purchase_order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3608 (class 0 OID 0)
-- Dependencies: 240
-- Name: purchase_order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.purchase_order_items_id_seq OWNED BY public.purchase_order_items.id;


--
-- TOC entry 245 (class 1259 OID 41487)
-- Name: purchase_order_receipt_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.purchase_order_receipt_items (
    id integer NOT NULL,
    receipt_id integer NOT NULL,
    po_item_id integer NOT NULL,
    quantity_received double precision NOT NULL
);


--
-- TOC entry 244 (class 1259 OID 41486)
-- Name: purchase_order_receipt_items_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.purchase_order_receipt_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3609 (class 0 OID 0)
-- Dependencies: 244
-- Name: purchase_order_receipt_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.purchase_order_receipt_items_id_seq OWNED BY public.purchase_order_receipt_items.id;


--
-- TOC entry 237 (class 1259 OID 41384)
-- Name: purchase_order_receipts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.purchase_order_receipts (
    id integer NOT NULL,
    purchase_order_id integer NOT NULL,
    warehouse_id integer NOT NULL,
    user_id integer NOT NULL,
    receipt_date timestamp with time zone,
    notes text
);


--
-- TOC entry 236 (class 1259 OID 41383)
-- Name: purchase_order_receipts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.purchase_order_receipts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3610 (class 0 OID 0)
-- Dependencies: 236
-- Name: purchase_order_receipts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.purchase_order_receipts_id_seq OWNED BY public.purchase_order_receipts.id;


--
-- TOC entry 233 (class 1259 OID 41342)
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.purchase_orders (
    id integer NOT NULL,
    business_id integer NOT NULL,
    supplier_id integer NOT NULL,
    order_date timestamp with time zone,
    expected_delivery_date timestamp with time zone,
    status public.purchaseorderstatus NOT NULL,
    total_amount numeric(12,2),
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 232 (class 1259 OID 41341)
-- Name: purchase_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.purchase_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3611 (class 0 OID 0)
-- Dependencies: 232
-- Name: purchase_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.purchase_orders_id_seq OWNED BY public.purchase_orders.id;


--
-- TOC entry 243 (class 1259 OID 41468)
-- Name: supplier_products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.supplier_products (
    id integer NOT NULL,
    supplier_id integer NOT NULL,
    product_variant_id integer NOT NULL,
    supplier_sku character varying(100),
    last_cost numeric(10,2),
    lead_time_days integer,
    is_preferred boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 242 (class 1259 OID 41467)
-- Name: supplier_products_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.supplier_products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3612 (class 0 OID 0)
-- Dependencies: 242
-- Name: supplier_products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.supplier_products_id_seq OWNED BY public.supplier_products.id;


--
-- TOC entry 227 (class 1259 OID 41264)
-- Name: suppliers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.suppliers (
    id integer NOT NULL,
    business_id integer NOT NULL,
    name character varying(200) NOT NULL,
    company_name character varying(200),
    tax_id character varying(50),
    email character varying(255),
    phone character varying(20),
    mobile character varying(20),
    website character varying(255),
    address text,
    city character varying(100),
    state character varying(100),
    postal_code character varying(20),
    country character varying(100),
    payment_terms public.paymentterms,
    credit_limit double precision,
    discount_percentage double precision,
    contact_person character varying(200),
    contact_title character varying(100),
    contact_email character varying(255),
    contact_phone character varying(20),
    is_active boolean,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 226 (class 1259 OID 41263)
-- Name: suppliers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.suppliers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3613 (class 0 OID 0)
-- Dependencies: 226
-- Name: suppliers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.suppliers_id_seq OWNED BY public.suppliers.id;


--
-- TOC entry 218 (class 1259 OID 41178)
-- Name: units; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.units (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    symbol character varying(10) NOT NULL,
    unit_type character varying(20),
    conversion_factor double precision,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now()
);


--
-- TOC entry 217 (class 1259 OID 41177)
-- Name: units_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.units_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3614 (class 0 OID 0)
-- Dependencies: 217
-- Name: units_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.units_id_seq OWNED BY public.units.id;


--
-- TOC entry 220 (class 1259 OID 41187)
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    is_active boolean,
    role public.userrole NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    is_superuser boolean NOT NULL
);


--
-- TOC entry 219 (class 1259 OID 41186)
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3615 (class 0 OID 0)
-- Dependencies: 219
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- TOC entry 229 (class 1259 OID 41280)
-- Name: warehouses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.warehouses (
    id integer NOT NULL,
    business_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    code character varying(50),
    address text,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- TOC entry 228 (class 1259 OID 41279)
-- Name: warehouses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.warehouses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 3616 (class 0 OID 0)
-- Dependencies: 228
-- Name: warehouses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.warehouses_id_seq OWNED BY public.warehouses.id;


--
-- TOC entry 3304 (class 2604 OID 41202)
-- Name: brands id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brands ALTER COLUMN id SET DEFAULT nextval('public.brands_id_seq'::regclass);


--
-- TOC entry 3298 (class 2604 OID 41169)
-- Name: businesses id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.businesses ALTER COLUMN id SET DEFAULT nextval('public.businesses_id_seq'::regclass);


--
-- TOC entry 3306 (class 2604 OID 41235)
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- TOC entry 3319 (class 2604 OID 41427)
-- Name: inventory_movements id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movements ALTER COLUMN id SET DEFAULT nextval('public.inventory_movements_id_seq'::regclass);


--
-- TOC entry 3316 (class 2604 OID 41366)
-- Name: product_variants id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_variants ALTER COLUMN id SET DEFAULT nextval('public.product_variants_id_seq'::regclass);


--
-- TOC entry 3325 (class 2604 OID 41509)
-- Name: product_warehouse_stock id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_warehouse_stock ALTER COLUMN id SET DEFAULT nextval('public.product_warehouse_stock_id_seq'::regclass);


--
-- TOC entry 3312 (class 2604 OID 41299)
-- Name: products id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- TOC entry 3321 (class 2604 OID 41453)
-- Name: purchase_order_items id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_items ALTER COLUMN id SET DEFAULT nextval('public.purchase_order_items_id_seq'::regclass);


--
-- TOC entry 3324 (class 2604 OID 41490)
-- Name: purchase_order_receipt_items id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_receipt_items ALTER COLUMN id SET DEFAULT nextval('public.purchase_order_receipt_items_id_seq'::regclass);


--
-- TOC entry 3318 (class 2604 OID 41387)
-- Name: purchase_order_receipts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_receipts ALTER COLUMN id SET DEFAULT nextval('public.purchase_order_receipts_id_seq'::regclass);


--
-- TOC entry 3314 (class 2604 OID 41345)
-- Name: purchase_orders id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders ALTER COLUMN id SET DEFAULT nextval('public.purchase_orders_id_seq'::regclass);


--
-- TOC entry 3322 (class 2604 OID 41471)
-- Name: supplier_products id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier_products ALTER COLUMN id SET DEFAULT nextval('public.supplier_products_id_seq'::regclass);


--
-- TOC entry 3308 (class 2604 OID 41267)
-- Name: suppliers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.suppliers ALTER COLUMN id SET DEFAULT nextval('public.suppliers_id_seq'::regclass);


--
-- TOC entry 3300 (class 2604 OID 41181)
-- Name: units id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.units ALTER COLUMN id SET DEFAULT nextval('public.units_id_seq'::regclass);


--
-- TOC entry 3302 (class 2604 OID 41190)
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- TOC entry 3310 (class 2604 OID 41283)
-- Name: warehouses id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouses ALTER COLUMN id SET DEFAULT nextval('public.warehouses_id_seq'::regclass);


--
-- TOC entry 3560 (class 0 OID 41160)
-- Dependencies: 214
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.alembic_version (version_num) VALUES ('3af5dbcb8c04');


--
-- TOC entry 3568 (class 0 OID 41199)
-- Dependencies: 222
-- Data for Name: brands; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3569 (class 0 OID 41214)
-- Dependencies: 223
-- Data for Name: business_users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.business_users (user_id, business_id, role) VALUES (3, 4, 'EMPLOYEE');
INSERT INTO public.business_users (user_id, business_id, role) VALUES (4, 4, 'EMPLOYEE');
INSERT INTO public.business_users (user_id, business_id, role) VALUES (5, 4, 'EMPLOYEE');


--
-- TOC entry 3562 (class 0 OID 41166)
-- Dependencies: 216
-- Data for Name: businesses; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.businesses (id, name, description, code, tax_id, rfc, address, phone, email, is_active, created_at, updated_at) VALUES (4, 'Maestro Inventario', NULL, 'MI001', 'XAXX010101000', 'XAXX010101000', 'Direcci├│n de prueba', '0000000000', 'admin@maestro.com', true, '2025-07-25 20:43:32.221365+00', NULL);


--
-- TOC entry 3571 (class 0 OID 41232)
-- Dependencies: 225
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3585 (class 0 OID 41424)
-- Dependencies: 239
-- Data for Name: inventory_movements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3581 (class 0 OID 41363)
-- Dependencies: 235
-- Data for Name: product_variants; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3593 (class 0 OID 41506)
-- Dependencies: 247
-- Data for Name: product_warehouse_stock; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3594 (class 0 OID 41607)
-- Dependencies: 248
-- Data for Name: product_warehouse_stocks; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3577 (class 0 OID 41296)
-- Dependencies: 231
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3587 (class 0 OID 41450)
-- Dependencies: 241
-- Data for Name: purchase_order_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3591 (class 0 OID 41487)
-- Dependencies: 245
-- Data for Name: purchase_order_receipt_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3583 (class 0 OID 41384)
-- Dependencies: 237
-- Data for Name: purchase_order_receipts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3579 (class 0 OID 41342)
-- Dependencies: 233
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3589 (class 0 OID 41468)
-- Dependencies: 243
-- Data for Name: supplier_products; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3573 (class 0 OID 41264)
-- Dependencies: 227
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3564 (class 0 OID 41178)
-- Dependencies: 218
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3566 (class 0 OID 41187)
-- Dependencies: 220
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.users (id, first_name, last_name, email, password_hash, is_active, role, created_at, updated_at, is_superuser) VALUES (3, 'Administrador', 'de Prueba', 'admin@maestro.com', '$2b$12$NvNC.1k0ifZg2ghQajcrXeUZRR0b3RzTGCz8eEjoTidvLdq9rJBT.', true, 'ADMIN', '2025-07-25 20:43:32.221365+00', NULL, true);
INSERT INTO public.users (id, first_name, last_name, email, password_hash, is_active, role, created_at, updated_at, is_superuser) VALUES (4, 'Capturista', 'de Prueba', 'capturista@maestro.com', '$2b$12$QhHPBHZQduWa.ZHFeW0PVeTYeJxKCIiyL0cKqNPfdOPPATVd13Lba', true, 'CAPTURISTA', '2025-07-25 20:43:32.221365+00', NULL, false);
INSERT INTO public.users (id, first_name, last_name, email, password_hash, is_active, role, created_at, updated_at, is_superuser) VALUES (5, 'Almacenista', 'de Prueba', 'almacenista@maestro.com', '$2b$12$o5yj7hTWkiTJYv8Bf7eYU.3M0.mC9x4VKQdpBv2iA/MVARUyAO4Ry', true, 'ALMACENISTA', '2025-07-25 20:43:32.221365+00', NULL, false);


--
-- TOC entry 3575 (class 0 OID 41280)
-- Dependencies: 229
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 3617 (class 0 OID 0)
-- Dependencies: 221
-- Name: brands_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.brands_id_seq', 1, false);


--
-- TOC entry 3618 (class 0 OID 0)
-- Dependencies: 215
-- Name: businesses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.businesses_id_seq', 4, true);


--
-- TOC entry 3619 (class 0 OID 0)
-- Dependencies: 224
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.categories_id_seq', 1, false);


--
-- TOC entry 3620 (class 0 OID 0)
-- Dependencies: 238
-- Name: inventory_movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.inventory_movements_id_seq', 1, false);


--
-- TOC entry 3621 (class 0 OID 0)
-- Dependencies: 234
-- Name: product_variants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.product_variants_id_seq', 1, false);


--
-- TOC entry 3622 (class 0 OID 0)
-- Dependencies: 246
-- Name: product_warehouse_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.product_warehouse_stock_id_seq', 1, false);


--
-- TOC entry 3623 (class 0 OID 0)
-- Dependencies: 230
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.products_id_seq', 1, false);


--
-- TOC entry 3624 (class 0 OID 0)
-- Dependencies: 240
-- Name: purchase_order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.purchase_order_items_id_seq', 1, false);


--
-- TOC entry 3625 (class 0 OID 0)
-- Dependencies: 244
-- Name: purchase_order_receipt_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.purchase_order_receipt_items_id_seq', 1, false);


--
-- TOC entry 3626 (class 0 OID 0)
-- Dependencies: 236
-- Name: purchase_order_receipts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.purchase_order_receipts_id_seq', 1, false);


--
-- TOC entry 3627 (class 0 OID 0)
-- Dependencies: 232
-- Name: purchase_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.purchase_orders_id_seq', 1, false);


--
-- TOC entry 3628 (class 0 OID 0)
-- Dependencies: 242
-- Name: supplier_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.supplier_products_id_seq', 1, false);


--
-- TOC entry 3629 (class 0 OID 0)
-- Dependencies: 226
-- Name: suppliers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.suppliers_id_seq', 1, false);


--
-- TOC entry 3630 (class 0 OID 0)
-- Dependencies: 217
-- Name: units_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.units_id_seq', 1, false);


--
-- TOC entry 3631 (class 0 OID 0)
-- Dependencies: 219
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- TOC entry 3632 (class 0 OID 0)
-- Dependencies: 228
-- Name: warehouses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.warehouses_id_seq', 1, false);


--
-- TOC entry 3329 (class 2606 OID 41164)
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- TOC entry 3342 (class 2606 OID 41207)
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- TOC entry 3345 (class 2606 OID 41220)
-- Name: business_users business_users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.business_users
    ADD CONSTRAINT business_users_pkey PRIMARY KEY (user_id, business_id);


--
-- TOC entry 3331 (class 2606 OID 41174)
-- Name: businesses businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_pkey PRIMARY KEY (id);


--
-- TOC entry 3347 (class 2606 OID 41240)
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- TOC entry 3371 (class 2606 OID 41432)
-- Name: inventory_movements inventory_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_pkey PRIMARY KEY (id);


--
-- TOC entry 3366 (class 2606 OID 41369)
-- Name: product_variants product_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_pkey PRIMARY KEY (id);


--
-- TOC entry 3384 (class 2606 OID 41512)
-- Name: product_warehouse_stock product_warehouse_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_warehouse_stock
    ADD CONSTRAINT product_warehouse_stock_pkey PRIMARY KEY (id);


--
-- TOC entry 3386 (class 2606 OID 41612)
-- Name: product_warehouse_stocks product_warehouse_stocks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_warehouse_stocks
    ADD CONSTRAINT product_warehouse_stocks_pkey PRIMARY KEY (product_variant_id, warehouse_id);


--
-- TOC entry 3358 (class 2606 OID 41304)
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- TOC entry 3375 (class 2606 OID 41455)
-- Name: purchase_order_items purchase_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_pkey PRIMARY KEY (id);


--
-- TOC entry 3381 (class 2606 OID 41492)
-- Name: purchase_order_receipt_items purchase_order_receipt_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_receipt_items
    ADD CONSTRAINT purchase_order_receipt_items_pkey PRIMARY KEY (id);


--
-- TOC entry 3369 (class 2606 OID 41391)
-- Name: purchase_order_receipts purchase_order_receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_receipts
    ADD CONSTRAINT purchase_order_receipts_pkey PRIMARY KEY (id);


--
-- TOC entry 3361 (class 2606 OID 41350)
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (id);


--
-- TOC entry 3378 (class 2606 OID 41474)
-- Name: supplier_products supplier_products_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier_products
    ADD CONSTRAINT supplier_products_pkey PRIMARY KEY (id);


--
-- TOC entry 3351 (class 2606 OID 41272)
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- TOC entry 3336 (class 2606 OID 41184)
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- TOC entry 3340 (class 2606 OID 41195)
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- TOC entry 3354 (class 2606 OID 41288)
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- TOC entry 3343 (class 1259 OID 41213)
-- Name: ix_brands_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_brands_id ON public.brands USING btree (id);


--
-- TOC entry 3332 (class 1259 OID 41175)
-- Name: ix_businesses_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_businesses_code ON public.businesses USING btree (code);


--
-- TOC entry 3333 (class 1259 OID 41176)
-- Name: ix_businesses_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_businesses_id ON public.businesses USING btree (id);


--
-- TOC entry 3348 (class 1259 OID 41251)
-- Name: ix_categories_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_categories_id ON public.categories USING btree (id);


--
-- TOC entry 3372 (class 1259 OID 41448)
-- Name: ix_inventory_movements_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_inventory_movements_id ON public.inventory_movements USING btree (id);


--
-- TOC entry 3362 (class 1259 OID 41380)
-- Name: ix_product_variants_barcode; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_product_variants_barcode ON public.product_variants USING btree (barcode);


--
-- TOC entry 3363 (class 1259 OID 41381)
-- Name: ix_product_variants_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_product_variants_id ON public.product_variants USING btree (id);


--
-- TOC entry 3364 (class 1259 OID 41524)
-- Name: ix_product_variants_sku; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_product_variants_sku ON public.product_variants USING btree (sku);


--
-- TOC entry 3382 (class 1259 OID 41523)
-- Name: ix_product_warehouse_stock_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_product_warehouse_stock_id ON public.product_warehouse_stock USING btree (id);


--
-- TOC entry 3355 (class 1259 OID 41325)
-- Name: ix_products_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_products_id ON public.products USING btree (id);


--
-- TOC entry 3356 (class 1259 OID 41326)
-- Name: ix_products_sku; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_products_sku ON public.products USING btree (sku);


--
-- TOC entry 3373 (class 1259 OID 41466)
-- Name: ix_purchase_order_items_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_purchase_order_items_id ON public.purchase_order_items USING btree (id);


--
-- TOC entry 3379 (class 1259 OID 41503)
-- Name: ix_purchase_order_receipt_items_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_purchase_order_receipt_items_id ON public.purchase_order_receipt_items USING btree (id);


--
-- TOC entry 3367 (class 1259 OID 41407)
-- Name: ix_purchase_order_receipts_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_purchase_order_receipts_id ON public.purchase_order_receipts USING btree (id);


--
-- TOC entry 3359 (class 1259 OID 41361)
-- Name: ix_purchase_orders_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_purchase_orders_id ON public.purchase_orders USING btree (id);


--
-- TOC entry 3376 (class 1259 OID 41485)
-- Name: ix_supplier_products_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_supplier_products_id ON public.supplier_products USING btree (id);


--
-- TOC entry 3349 (class 1259 OID 41278)
-- Name: ix_suppliers_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_suppliers_id ON public.suppliers USING btree (id);


--
-- TOC entry 3334 (class 1259 OID 41185)
-- Name: ix_units_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_units_id ON public.units USING btree (id);


--
-- TOC entry 3337 (class 1259 OID 41196)
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- TOC entry 3338 (class 1259 OID 41197)
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- TOC entry 3352 (class 1259 OID 41294)
-- Name: ix_warehouses_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_warehouses_id ON public.warehouses USING btree (id);


--
-- TOC entry 3387 (class 2606 OID 41208)
-- Name: brands brands_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- TOC entry 3388 (class 2606 OID 41221)
-- Name: business_users business_users_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.business_users
    ADD CONSTRAINT business_users_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- TOC entry 3389 (class 2606 OID 41226)
-- Name: business_users business_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.business_users
    ADD CONSTRAINT business_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3390 (class 2606 OID 41241)
-- Name: categories categories_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- TOC entry 3391 (class 2606 OID 41246)
-- Name: categories categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.categories(id);


--
-- TOC entry 3405 (class 2606 OID 41433)
-- Name: inventory_movements inventory_movements_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id);


--
-- TOC entry 3406 (class 2606 OID 41438)
-- Name: inventory_movements inventory_movements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3407 (class 2606 OID 41443)
-- Name: inventory_movements inventory_movements_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- TOC entry 3400 (class 2606 OID 41370)
-- Name: product_variants product_variants_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- TOC entry 3401 (class 2606 OID 41375)
-- Name: product_variants product_variants_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id);


--
-- TOC entry 3414 (class 2606 OID 41513)
-- Name: product_warehouse_stock product_warehouse_stock_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_warehouse_stock
    ADD CONSTRAINT product_warehouse_stock_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id);


--
-- TOC entry 3415 (class 2606 OID 41518)
-- Name: product_warehouse_stock product_warehouse_stock_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_warehouse_stock
    ADD CONSTRAINT product_warehouse_stock_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- TOC entry 3416 (class 2606 OID 41613)
-- Name: product_warehouse_stocks product_warehouse_stocks_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_warehouse_stocks
    ADD CONSTRAINT product_warehouse_stocks_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id);


--
-- TOC entry 3417 (class 2606 OID 41618)
-- Name: product_warehouse_stocks product_warehouse_stocks_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_warehouse_stocks
    ADD CONSTRAINT product_warehouse_stocks_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- TOC entry 3394 (class 2606 OID 41305)
-- Name: products products_base_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_base_unit_id_fkey FOREIGN KEY (base_unit_id) REFERENCES public.units(id);


--
-- TOC entry 3395 (class 2606 OID 41310)
-- Name: products products_brand_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_brand_id_fkey FOREIGN KEY (brand_id) REFERENCES public.brands(id);


--
-- TOC entry 3396 (class 2606 OID 41315)
-- Name: products products_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- TOC entry 3397 (class 2606 OID 41320)
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- TOC entry 3408 (class 2606 OID 41456)
-- Name: purchase_order_items purchase_order_items_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id);


--
-- TOC entry 3409 (class 2606 OID 41461)
-- Name: purchase_order_items purchase_order_items_purchase_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_purchase_order_id_fkey FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id);


--
-- TOC entry 3412 (class 2606 OID 41493)
-- Name: purchase_order_receipt_items purchase_order_receipt_items_po_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_receipt_items
    ADD CONSTRAINT purchase_order_receipt_items_po_item_id_fkey FOREIGN KEY (po_item_id) REFERENCES public.purchase_order_items(id);


--
-- TOC entry 3413 (class 2606 OID 41498)
-- Name: purchase_order_receipt_items purchase_order_receipt_items_receipt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_receipt_items
    ADD CONSTRAINT purchase_order_receipt_items_receipt_id_fkey FOREIGN KEY (receipt_id) REFERENCES public.purchase_order_receipts(id);


--
-- TOC entry 3402 (class 2606 OID 41392)
-- Name: purchase_order_receipts purchase_order_receipts_purchase_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_receipts
    ADD CONSTRAINT purchase_order_receipts_purchase_order_id_fkey FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id);


--
-- TOC entry 3403 (class 2606 OID 41397)
-- Name: purchase_order_receipts purchase_order_receipts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_receipts
    ADD CONSTRAINT purchase_order_receipts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- TOC entry 3404 (class 2606 OID 41402)
-- Name: purchase_order_receipts purchase_order_receipts_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_receipts
    ADD CONSTRAINT purchase_order_receipts_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- TOC entry 3398 (class 2606 OID 41351)
-- Name: purchase_orders purchase_orders_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- TOC entry 3399 (class 2606 OID 41356)
-- Name: purchase_orders purchase_orders_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- TOC entry 3410 (class 2606 OID 41475)
-- Name: supplier_products supplier_products_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier_products
    ADD CONSTRAINT supplier_products_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id);


--
-- TOC entry 3411 (class 2606 OID 41480)
-- Name: supplier_products supplier_products_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier_products
    ADD CONSTRAINT supplier_products_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- TOC entry 3392 (class 2606 OID 41273)
-- Name: suppliers suppliers_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


--
-- TOC entry 3393 (class 2606 OID 41289)
-- Name: warehouses warehouses_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id);


-- Completed on 2025-08-02 14:26:55 UTC

--
-- PostgreSQL database dump complete
--

